{{> header.hbs}}
<h1>Criar Anamnese</h1>
<div class="col-md-4">
    <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required/>
        <hr id="line">
        <div class="form-group">
            <label for="name">Paciente:</label>
            <select name="patient_id" id="patients">
            </select>
        </div>
        <div class="form-group">
            <label for="name">Medico:</label>
            <select name="medic_id" id="medics">
            </select>
        </div>

        <div class="form-group">
            <label for="name">Remédios:</label>
            <textarea id="drugs" name="drugs" class="form-control">{{data.drugs}}</textarea>
        </div>

        <div class="form-group">
            <label for="name">Pedidos:</label>
            <textarea id="orders" name="orders" class="form-control">{{data.orders}}</textarea>
        </div>

        <input type="hidden" name="date" id="date">

        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Enviar">
            <a class="btn btn-warning" href="/patients">Voltar</a>
        </div>
    </form>
</div>
<script>

    $(function () {

        $("#uploadimage").submit(function (event) {
            event.preventDefault();
            var date = new Date();
            $("#date").val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate());
            $.ajax({
                url: "/anamneses",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                statusCode: {
                    201: function (data) {
                        document.location = "/anamneses/" + data;
                    }
                }
            });
        });


        $.ajax({
            url: '/patients',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            statusCode: {
                200: function (json) {
                    $.each(json, function (i, item) {
                        $('#patients').append($('<option>').text(item.name).attr('value', item.id));
                    });
                }
            }
        });
        $.ajax({
            url: '/medics',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            statusCode: {
                200: function (json) {
                    $.each(json, function (i, item) {
                        $('#medics').append($('<option>').text(item.name).attr('value', item.id));
                    });
                }
            }
        });
    });
</script>
{{> footer.hbs}}