{{> header.hbs}}
<h1>Criar Paciente</h1>
<div class="col-md-4">
    <span class="btn btn-success fileinput-button" style="padding:0">
        <span style="position: absolute;top:10px;left:30px">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select files...</span>
        </span>
        <input id="fileupload" type="file" style="opacity:0;display:inline-block;padding: 10px 10px 10px 0px" name="file">
    </span>
    <hr id="line">
    <form id="new-anamnese">
        <div class="form-group">
            <label for="name">Paciente:</label>
            <select name="patients" id="patients">
            </select>
        </div>
        <div class="form-group">
            <label for="name">Medico:</label>
            <select name="medics" id="medics">
            </select>
        </div>

        <div class="form-group">
            <label for="name">Remédios:</label>
            <textarea id="drugs" name="drugs" class="form-control">{{data.drugs}}</textarea>
        </div>

        <div class="form-group">
            <label for="name">Pedidos:</label>
            <textarea id="orders" name="orders" class="form-control">{{data.orders}}</textarea>
        </div>

        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Enviar">
            <a class="btn btn-warning" href="/patients">Voltar</a>
        </div>
    </form>
</div>
<script>

    $(function () {

        $('#fileupload').fileupload({
            dataType: 'json',
            'option': {
                maxNumberOfFiles:1,
                singleFileUploads: true,
                autoUpload: false
            },
            always:function (e, data) {
              document.location = "/patients/"+$('#patients').val();
            },
            add: function (e, data) {
                $("#new-anamnese").submit(function (event) {
                    event.preventDefault();
                    var date = new Date();
                    var name = $('#name');
                    var formData = {
                        name: name.val(),
                        patient_id: $('#patients').val(),
                        medic_id: $('#medics').val(),
                        drugs: $('#drugs').val(),
                        orders: $('#orders').val(),
                        date: date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
                    };
                    $.ajax({
                        url: "/anamneses",
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        statusCode: {
                            201: function (response) {
                                data.url = '/images?anamnese_id=' + response;
                                data.submit();
                            }
                        }
                    });

                });
            }
        });


        $.ajax({
            url: '/patients',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            statusCode: {
                200: function (json) {
                    $.each(json, function (i, item) {

                        $('#patients').append($('<option>').text(item.name).attr('value', item.id));
                    });
                }
            }
        });
        $.ajax({
            url: '/medics',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            statusCode: {
                200: function (json) {
                    $.each(json, function (i, item) {

                        $('#medics').append($('<option>').text(item.name).attr('value', item.id));
                    });
                }
            }
        });
    });
</script>
{{> footer.hbs}}