{{> header.hbs}}
<h1>Editar Patients</h1>
<div class="col-md-4">
    <form method="POST" action="/patients/{{data.id}}/edit">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{data.name}}" class="form-control">
        </div>
        <label for="name">Email:</label>

        <div class="form-group">
            <input type="email" id="email" name="email" value="{{data.email}}" class="form-control">
        </div>
        <div class="btn-group">
            <input type="submit" class="btn btn-default" value="Enviar">
            <a class="btn btn-warning" href="/patients">Voltar</a>
        </div>
    </form>
</div>
{{> footer.hbs}}