{{> header.hbs}}
<h1>Paciente</h1>
<div class="col-md-4">
    <form id="edit-medic">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" data-id="{{data.id}}" value="{{data.name}}" class="form-control">
        </div>
        <label for="name">Email:</label>


        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Editar">
            <a class="btn btn-warning" href="/medics">Voltar</a>
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#edit-medic").submit(function (event) {
            event.preventDefault();
            var name = $('#name');
            var formData = {
                name: name.val()
            };
            $.ajax({
                url: "/medics/" + name.attr('data-id'),
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                dataType: 'json',
                statusCode: {
                    200: function () {
                        document.location = "/patients";
                    }
                }
            });
        });
    });
</script>
{{> footer.hbs}}