{{> header.hbs}}

<h1>Medical CMS</h1>
<ul class="list-unstyled">
    <li><a href="/medics">Médicos</a></li>
    <li><a href="/patients">Pacientes</a></li>
    <li><a href="/anamneses/new">Nova Anamnese</a></li>
    <li><a href="/anamneses">Buscar Anamnese por período</a></li>
</ul>
{{> footer.hbs}}